/*Reset*/

* {
    margin: 0;
    padding: 0;
}

/*Estilos generales*/

body {
    background-color: rgb(234, 214, 250);
    font-size: 62.5%;
    font-family: 'Lora', serif;
}

main {
    margin-bottom: 5em;
    margin-top: 3em;
}

/*header*/

header div {
    background-image: url(./media/flores_violetas.jpg);
    overflow-y: hidden;
    height: 10em; 
}

#logo {
    height: 100%;
    padding: 0.2em;
}

h1 {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0.2em;
    align-self: center ;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav ul {
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
}

header nav li {
    padding: 0.5em 1em;
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0 0.8em;
 
}

header nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.7em;
    font-weight: 700;
}

.navSecundaria {
    display: flex;
    justify-content: center;
    position: relative;
    top: 1.2em;
}

.navSecundaria li{
    border: 0.1em solid rgb(215, 148, 215) ;
    margin: 0 0.6em;
    background-color: rgb(215, 148, 215);
    border-radius: 5px;
}

.navSecundaria a {
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(141, 81, 197);
}

.indexHeader div {
    height: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indexHeader #logo {
    height: 95%;
}
.servicios{
    /* display: flex;
    justify-content: center;
    position: relative;
    top: 1.2em; */
    /* display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 2em;
    justify-content: space-between;
    justify-items: center;
    width: 80%;
    position: relative;
    left: 10%;
}


 .servicios div { 
    width: 100%;
    height: 25em;
    border: ridge 0.5em rgb(219, 179, 219);
    margin: 0 0.6em;
    /* background-color: rgb(215, 148, 215); */
    border-radius: 5px;
    
}

.servicios a{
    font-size: 3em;
    font-weight: 600;
    padding: 0.3em;
    color: rgb(79, 67, 82);
    text-shadow: 0.1em 0.1em rgb(238, 180, 230);
    text-decoration: none;
}

#homeFaciales {
    background-image: url(./media/portadas/portadaFaciales.jpg);
    background-size: cover;
    background-position: 30%;
}

#homeCorporales {
    background-image: url(./media/portadas/portadaCorporales.jpg);
    background-size: cover;
}

#homeBeauty {
    background-image: url(./media/portadas/portadaBeauty.jpg);
    background-size: cover;
}

#homeGiftCard {
    background-image: url(./media/portadas/giftCard.jpg);
    background-size: cover;
}

#tratamientos {
    display: grid;
    grid-template-areas: 
    "img titulo"
    "img descripcion";
    grid-template-rows: 2.5em auto;
    row-gap: 0.7em;
    margin-top: 3em;
    padding: 2em;
    position: relative;
    left: 18%;
    width: 64%;
    justify-items: center;
    font-size: 1.6em;
    font-weight: 400;
    text-align: justify;
}

#titulo {
    grid-area: titulo;
    width: 90%;
    justify-items: flex-start;
}

#portada {
    position: relative;
    left: 15%;
    top: 3em;
    width: 70%;
}

#portada img{
    width: 100%;
    border-radius: 3%;
}

#imagen {
    grid-area: img;
    width: 22em;
}

#descripcion {
    grid-area: descripcion;
    width: 90%;
    text-align: start;
}

.subtitulo {
    font-size: 1.1em;
    font-weight: 500;
}

#texto1{
    text-align: center;
}

footer {
    justify-content: left;

}
.container {
    color: rgb(2, 2, 2);
    font-size: 150.5%;
    font-family: 'Lora', serif;
}
#info {
    background-color: rgb(181, 137, 223);
    font-size: 75.5%;
    font-family: 'Lora', serif;
}
#datoscontacto {
    text-align: center;
    background-color: rgb(234, 214, 250);
    font-size: 62.5%;
    font-family: 'Lora', serif;
}
#enviar {
    text-align: center;
    background-color: rgb(123, 115, 123);
    font-size: 100.5%;
    font-family: 'Lora', serif;
    color: aliceblue;
}
#containerfluid {
    text-align: center;
    background-color: rgba(138, 20, 138, 0.699);
    font-size: 100.5%;
    font-family: 'Lora', serif;
    color: aliceblue;
}

#texto2{
    text-align: center;
    font-size: 2.5em;
    font-weight: 400;

}