/*Reset*/

* {
    margin: 0;
    padding: 0;
}

/*Estilos generales*/

body {
    background-color: rgb(234, 214, 250);
    font-size: 62.5%;
    font-family: 'Lora', serif;
}

/*header*/

header div {
    background-image: url(./media/flores_violetas.jpg);
    overflow-y: hidden;
    height: 10em; 
}

#logo {
    height: 100%;
    padding: 0.2em;
}

h1 {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0.2em;
    align-self: center ;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav ul {
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
}

header nav li {
    padding: 0.5em 1em;
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0 0.8em;
 
}

header nav a {
    text-decoration: none;
    color: rgb(70, 71, 72);
    font-size: 1.7em;
    font-weight: 700;
}

.navSecundaria {
    display: flex;
    justify-content: center;
    position: relative;
    top: 1.2em;
}

.navSecundaria li{
    border: 0.1em solid rgb(215, 148, 215) ;
    margin: 0 0.6em;
    background-color: rgb(215, 148, 215);
    border-radius: 5px;
}

.navSecundaria a {
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(176, 133, 217);
}
.servicios{
    /* display: flex;
    justify-content: center;
    position: relative;
    top: 1.2em; */
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    top: 1.5em;

}


 .servicios div {
    
    height: 200px;
    width: 400px;
    border: 0.1em solid rgb(215, 148, 215) ;
    margin: 0 0.6em;
    background-color: rgb(215, 148, 215);
    border-radius: 5px;
    
}

.servicios a{
    font-size: 2em;
    font-weight: 600;
    color: aliceblue;
    text-align: center;
    text-decoration: none;
}

.texto{
    font-size: 1.3em;
    font-weight: 400;
    text-align: justify;
}


#texto1{
    text-align: center;
}

footer {
    justify-content: left;

}
.container {
    color: rgb(2, 2, 2);
    font-size: 150.5%;
    font-family: 'Lora', serif;
}
#info {
    background-color: rgb(181, 137, 223);
    font-size: 75.5%;
    font-family: 'Lora', serif;
}
#datoscontacto {
    text-align: center;
    background-color: rgb(234, 214, 250);
    font-size: 62.5%;
    font-family: 'Lora', serif;
}
#enviar {
    text-align: center;
    background-color: rgb(123, 115, 123);
    font-size: 100.5%;
    font-family: 'Lora', serif;
    color: aliceblue;
}
#containerfluid {
    text-align: center;
    background-color: rgba(138, 20, 138, 0.699);
    font-size: 100.5%;
    font-family: 'Lora', serif;
    color: aliceblue;
}

#texto2{
    text-align: center;
    font-size: 2.5em;
    font-weight: 400;

}
